@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-wrapper{
    position: relative;
    width: 35%;
    height: 100%;
    background-image: url("bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.right-wrapper{
    width: 65%;
    height: 100%;
    background-color: #F9FAFB;
}
.logo-wrapper{
    width: 100%;
    height: 120px;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit{
    position: absolute;
    bottom: 3vh;
    color: white;
    font-size: 15px;
}
.logo-text{
    font-family: "Norse Bold";
    font-size: 77px;
    padding-top: 20px;
    color: white;
}
.logo{
    height: 100px;
}
.disclaimer{
    padding-top: 15vh;
    padding-left: 3vw;
    font-size: 20px;
    font-weight: 500;
    max-width: 700px;
    padding-bottom: 5vh;
}
form{
    padding-top: 4vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    background-color: white;
    box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
h2{
    font-size: 27px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
}
.form-row-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.form-single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
input{
    font-size: 15px;
    padding: 7px 7px;
    width: 250px;
    border-color: #E5E7EB;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #F9FAFB;
}
label{
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #596D48;
    font-weight: 500;
}
.form-row-wrapper + .form-row-wrapper{
    margin-top: 20px;
}